<div class="content bg-gray-3">
    <div class="container-fluid px-2 px-md-5 pb-2 pt-4 py-md-4">
        <uni-image-card title="Transacciones"
            externImage="https://static.vecteezy.com/system/resources/previews/004/341/304/non_2x/easy-to-use-banking-app-flat-illustration-credit-card-financial-transactions-cartoon-concept-e-payment-online-bill-pay-isolated-metaphor-on-white-background-ewallet-ebanking-application-vector.jpg"
            size="8%">
        </uni-image-card>
        <mat-card class="custom-border-radius-1-25">
            <mat-card-content>
                <div>
                    <h2 class="mt-4 ml-3 text-default"> Datos de Búsqueda </h2>
                    <form [formGroup]="formDate" class="d-flex flex-wrap">

                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Fecha</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate formControlName="dateStart" placeholder="Start date">
                                <input matEndDate formControlName="dateEnd" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint align="end">DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Servicio</mat-label>
                            <mat-select formControlName="idService" disableOptionCentering
                                panelClass="custom-select-panel">
                                <!-- Opciones filtradas -->
                                <mat-option *ngFor="let service of services" [value]="service.id">
                                    {{ service.name }}
                                </mat-option>
                            </mat-select>
                            <!-- Mensaje si no hay categoría seleccionada -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Recaudador</mat-label>
                            <mat-select formControlName="entity">
                                <mat-option [value]="">NINGUNO</mat-option>
                                <mat-option *ngFor="let entity of entityTypes" [value]="entity.servicePerson.idPerson">
                                    {{entity.servicePerson.nameAlias}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Proveedor</mat-label>
                            <mat-select formControlName="provider">
                                <mat-option [value]="">NINGUNO</mat-option>
                                <mat-option *ngFor="let provider of listProviders"
                                    [value]="provider.servicePerson.idPerson">
                                    {{provider.servicePerson.nameAlias}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Suministro</mat-label>
                            <input formControlName="supply" type="text" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Recibo</mat-label>
                            <input formControlName="numDoc" type="text" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Seleccionar Estado</mat-label>
                            <mat-select formControlName="status" multiple>
                                <mat-option *ngFor="let status of masterStatus" [value]="status.master_name">
                                    {{status.master_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </form>
                    <div class="row">

                        <div class="col lg-6">
                            <div class="info-container">
                                <div class="info-item">
                                    <mat-label>Monto total:</mat-label>
                                    <span class="info-value">{{amountTransaction}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col lg-6 d-flex justify-content-end align-items-end mb-3 mr-3">
                            <button type="button" class="button-secondary btn" (click)="clearSearch()">
                                <mat-icon>filter_alt_off</mat-icon>
                                Limpiar
                            </button>
                            <button type="button" class="button-primary btn" (click)="search()">
                                <mat-icon>search</mat-icon>
                                Buscar
                            </button>

                        </div>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="custom-border-radius-1-25">
            <mat-card-content>
                <uni-dynamic-table [columns]="columns" [data]="dataTransaction" [lengthTable]="count"
                    [refreshFunction]="reload.bind(this)" element_id="concep" (pageChange)="onPageChange($event)"
                    [pageKey]="pageKey" [customExportFunction]="exportDataViaAPI.bind(this)"
                    (clickButtonEvent)="clickButton($event)">
                </uni-dynamic-table>
            </mat-card-content>
        </mat-card>
    </div>
</div>